* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input {
    border: none;
    background: transparent;
}

h1 {
    margin: 0;
}
